.component-gallery {
    margin: 0 auto;
    position: relative;
}

.thumbnail-gallery,
.skills-gallery {
    width: 100%;
    display: block;
}

.swipe {
    border: 1px solid #777;
    box-sizing: border-box;
}

.gallery-slide {

}

.arrow {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.arrow-prev {
    left: -3em;
}
.arrow-next {
    right: -3em;
}