.component-background {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background-stage {
    position: absolute;
    width: 100%;
    height: 100%;
}

@import '_three.scss';
@import '_warphole.scss';
@import '_snake.scss';
@import '_pondripples.scss';