$ring-radius: 14em;

#snake-element,
.snake-element {
    width: $ring-radius;
    height: $ring-radius;
    border-radius: $ring-radius*2;
    position: absolute;
    background: $elementGradient;
}

#snake-element {
    visibility: hidden;
}

.snake-stage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}