.project-link {
    font-size: 0.666em;
    color: transparent;
    position: absolute;
    bottom: 25%;
    text-transform: uppercase;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        color: $text;
        content: attr(data-hover);
        -webkit-transition: max-width 1s;
        -moz-transition: max-width 1s;
        transition: max-width 1s;
    }
}

.component-project {
    color: $text;
    margin-bottom: 3rem;
    display: inline-block;

    .close-button {
        display: inline-block;
        float: right;

        &:hover {
            cursor: pointer;
        }
    }

    .gallery-slide {

    }

    .project-detail {

        line-height: 1;

        h4, li {
            display: inline-block;
        }
        h4 {
            margin-bottom: 0.25rem;
            padding-bottom: 0.25rem;
        }
        li {
            margin-left: 0.25rem;
            &:first-child {
            }
            &:before {
                content: '/';
                padding-right: 0.25rem;
                color: $secondary-color;
            }
        }
        li:nth-child(2) {
            &:before {
                content: '';
                display: none;
            }
       }
    }
}