// C O L O U R  P A L E T T E
$white: rgb(252,250,245);
$beige: rgb(247,241,225);
$olive: rgb(216,232,211);
$teal: rgb(174,235,215);
$cyan: rgb(71,252,234);
$grey: rgb(122,120,115);
$black: rgb(0,0,0);
$elementGradient: linear-gradient( 135deg, hsla(0, 0%, 3%, 1), hsla(0, 0%, 0%, 1) );
$backgroundBorderGradient: linear-gradient( 135deg, hsla(0, 0%, 8%, 1), hsla(0, 0%, 0%, 1) );
$backgroundGradient: linear-gradient( 135deg, hsla(0, 0%, 0%, 1), hsla(0, 0%, 12%, 1) );
$workThumbnailGradient: linear-gradient( 135deg, hsla(0, 0%, 12%, 1), hsla(0, 0%, 0%, 1) );
$blackGradient: linear-gradient( 45deg, hsla(0, 0%, 0%, 1), hsla(0, 0%, 5%, 1) );
$elementGradient: linear-gradient( 135deg, hsla(0, 0%, 3%, 1), hsla(0, 0%, 0%, 0) );

// V A R I A B L E S
$general-margin: 2em;
$ring-radius: 1em;