// T Y P E S E T . C S S
/* Small caps */

/* Double quote (") marks */
.pull-double{margin-left:-.38em}
.push-double{margin-right:.38em}

/* Single quote (') marks */
.pull-single{margin-left:-.15em}
.push-single{margin-right:.15em}

/* Optical margin alignment for particular letters */
.pull-T, .pull-V, .pull-W, .pull-Y {margin-left: -0.07em}
.push-T, .push-V, .push-W, .push-Y {margin-right: 0.07em}

.pull-O, .pull-C, .pull-o, .pull-c {margin-left: -0.04em}
.push-O, .push-C, .push-o, .push-c {margin-right: 0.04em}

.pull-A {margin-left: -0.03em}
.push-A {margin-right: 0.03em}

// F O N T  F A M I L Y
body {
    font-family: 'Karla', 'Source Sans Pro', 'Helvetica' sans-serif;
    font-weight: 400;
    font-size: 18px
}

p, span, h1, h2, h3, h4, h5, h6 {
    color: $text;
}

a {
    color: $text;

    &:hover {
        color: $color;
    }
}

h1, h2, h3, h5, h6 {
    margin: 0;
}

p, li, .contact-link {
    line-height: 1.5;
    font-size: 0.75rem;
}

.project-item a {
    font-size: 0.6rem;
}

.list li {
        font-size: 0.75rem;
}


label {
    font-size: 0.75rem;
    line-height: 0;
    font-weight: 700;
}

p {
    margin: 0 0 1rem;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.333;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: 0.9rem;
    font-weight: 700;
    color: $text;
    border-bottom: 1px solid $color;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    line-height: 1;
}

h3 {
    font-size: 0.9rem;
    font-weight: 400;
}

h4 {
    color: $secondary-color;
    border-color: $secondary-color;
    letter-spacing: 1px;
    font-size: 0.75rem;
    line-height: 1em;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted $text;

    &.work-title {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0;

        span {
            color: $secondary-color;
            text-transform: capitalize;
        }

        .thumbnails-button {
            font-weight: 400;
            text-transform: uppercase;
            float: right;
            color: $text;
            font-size: 0.75rem;
            transition: 200ms color $curve;
            letter-spacing: 1px;
            padding-left: 0.5rem;

            &:hover {
                color: $color;
                cursor: pointer;
            }
        }
    }
}

.project-detail h4 {
    border-bottom: 0px;
}

h5 {
    font-size: 1.75rem;
    padding-bottom: 0.25rem;
    color: $text;
    opacity: 0.4;
    letter-spacing: 0px;
    line-height: 1;
    border: none;
}

// F O N T  S I Z E

/* ----------- iPhone 4 and 4S ----------- */

@media
only screen and (min-device-width: 0px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 0px) and (max-device-width: 480px) and (min-resolution: 192dpi),
only screen and (min-device-width: 0px) and (max-device-width: 480px) and (min-resolution: 2dppx) {
    body { font-size: 15px }
}

/* ----------- iPhone 5 and 5S ----------- */

@media
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (min-resolution: 192dpi),
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (min-resolution: 2dppx) {
    body { font-size: 15px }
}

/* ----------- iPhone 6 ----------- */

@media
only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-resolution: 192dpi),
only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-resolution: 2dppx) {
    body { font-size: 18px }
}

/* ----------- iPhone 6+ ----------- */

@media
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-resolution: 192dpi),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-resolution: 3dppx) {
    body { font-size: 18px }
}

/* ----------- iPad 1 and 2 ----------- */
@media
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-resolution: 72dpi),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-resolution: 1dppx) {
    body { font-size: 20px}
}

/* ----------- iPad 3 and 4 ----------- */
@media
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-resolution: 192dpi),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-resolution: 2dppx) {
    body { font-size: 20px}
}

@media
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-resolution: 192dpi),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-resolution: 3dppx) {
    body { font-size: 20px}
}