$time: 1000ms;

.component-button {
    display: inline-block;

    &:hover, &.pressed {
        cursor: pointer;
    }
}

.text-button {

    &::before {
        position: absolute;
        overflow: hidden;
        max-width: 0px;
        max-height: 0.75rem;
        color: $color;
        content: attr(data-hover);
        transition: max-width $time/4 $curve, color $time/4 ease-in;
    }

    &:hover, &.pressed {
        outline: none;
        color: rgba($color, 0.5);

        &::before {
            max-width: 500px;
            transition: max-width $time $curve;
        }
    }


}