$time: 300ms;

.letter-wrapper {
    height: 100%;
    opacity: 0.75;
}

.letter-cell {
    position: relative;
    display: inline-block;
}

.component-letter {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    overflow: visible;
}

.letter {
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    overflow: hidden;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: left;
    margin: 0;
}