.component-contact {

    .contact-profile,
    .contact-form {
        display: inline-block;
        margin-bottom: 2rem;
    }
    .contact-profile {
        float: left;
    }
    .contact-form {
        position: relative;
    }

    .contact-link {
        display: block;
    }

    @import 'element/form/_form.scss';

}