.component-contact {

    .contact-profile {
        display: inline-block;
        float: left;
    }

    .contact-form {
        display: inline-block;
    }

    .contact-link {
        display: block;
    }

}