$time: 600ms;

.contact-form {
    form {
        margin-top: 1em;
    }
}

.component-form {
    position: relative;
    margin: 0 auto 1em;
    display: inline-block;
    overflow: visible;

    svg {
        pointer-events: none;
        position: absolute;
    }

    label {
        position: absolute;
        padding: 0.5rem 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    input, textarea, button {
        border: 0;
        padding: 0.25rem 0.5rem;
        margin-left: 3rem;
        outline: none;
    }

    input, textarea {
        background: $white;
    }

    textarea {
        resize: none;
        line-height: 2;
    }

    input[type='submit'] {
        padding: 0.75rem;
        background: $secondary-color;
        outline: 1px solid $white;
        line-height: 0;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        opacity: 0.75;
        transition: 400ms all $curve;

        &:hover {
            cursor: pointer;
        }
        &:focus {
            background: $white;
            color: $text;
            opacity: 1;
        }
    }

    label {
        transition: 400ms color $curve;

        &.submit {
            display: none;
        }

        &.active {
            color: $secondary-color;
        }
    }

    &:hover {
        cursor: pointer;

        .form-shape {
            stroke-width: 1px;
            stroke-dashoffset: 0;
            stroke-dasharray: 750;
        }
    }
    .form-shape {
        stroke-dasharray: 0 10;
        stroke-dashoffset: -475;
        stroke-width: 8px;
        fill: transparent;
        stroke: $color;
        opacity: 0;
        border-bottom: 5px solid $white;
        transition: stroke-width $time, stroke-dashoffset $time, stroke-dasharray $time;
    }
}

.text-form {
    color: $text;
    position: absolute;
    top: 0;
    text-decoration: none;
    overflow: hidden;
    opacity: 1;
    width: 90%;
    margin: 0 5%;

    &:hover {
        outline: none;
        color: #888;
    }

}