.project-item {

    a {
      text-transform: uppercase;
      color: $text;
      letter-spacing: 1px;
      margin-top: 1em;
      transition: padding 0.4s ease-out;
      -webkit-transition: padding 0.4s ease-out;
    }
    em {
      font-weight: 700;
      font-style: normal;
    }

    .thumbnail-link {
      border-top: 1px dotted $text;
      display: block;
      width: 90%;
      margin: 1em 5%;
      padding: 1em 0 1.5em;
      line-height: 1.333;
      transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;

      span {
        opacity: 1;
        transition: opacity 0.4s ease-out;
        -webkit-transition: opacity 0.4s ease-out;
      }
    }

    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;

}

.project-thumb {
    width: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    filter: grayscale(100%) contrast(90%);
}

.thumbnail-wrapper {
    overflow: hidden;
}

.thumbnail-cell {
    position: absolute;

    div {
      width: 100%;
      height: 100%;
    }
}

.project-item.active,
.project-item:hover {

    cursor: pointer;
    background: $workThumbnailGradient;
    transition: background 0.4s ease-out;

    .thumbnail-link {
        width: 90%;
        margin: 1em 0%;
        padding: 1em 5% 1.5em;
        color: $secondary-color;
        border-color: $secondary-color;
      }

      .project-thumb {
          background-size: 100%;
          filter: grayscale(0%) contrast(100%);
      }

}