.menu-items {

    &:before {
        content: '';
        font-size: 1.5rem;
        position: absolute;
        top: 0.25rem;
        left: -1rem;
        color: $white;
    }

    display: inline-block;
    line-height: 0;
    position: absolute;

}